@tailwind base;
@tailwind components;
@tailwind utilities;

.paint-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;

  justify-items: center;
}

.paint-list > li {
  grid-column: span 1;
  grid-row: span 1;
  min-width: 150px;
  min-height: 200px;
  width: 100%;
  height: 100%;
}
