@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ignored for now, will be used in dark/light mode support */
body {
  --text-colour: #fcfcfc;
  --bg: #333;
  --bg-panel: #434343;
  --heading-colour: #3694ff;
}

.paint-list,
.paint-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;

  justify-items: center;
}

.paint-list {
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}

.paint-header {
  grid-template-rows: 1;
}

.paint-list > .paint,
.paint-header > .paint {
  grid-column: span 1;
  grid-row: span 1;
  min-width: 150px;
  min-height: 200px;
  max-width: 300px;
  width: 100%;
  height: 100%;
}
