.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
    transition: all .3s;
}

li:hover {
    transform: scale(1.05);
}


.paint-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));

    grid-gap: 1rem;
    grid-auto-flow: dense;
}

.paint-list > li {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: .5rem;
    list-style: none;
}

.paint-container {
    border: #282c34 1px solid;
}

.paint-pot {
    height: 80px;
    width: 80px;
    object-fit: cover; 
}
